form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-outline {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-check {
    margin-bottom: 10px;
}

.email-input {
    margin-bottom: 20px;
}

.address-input {
    margin-bottom: 20px;
}

.btn {
    width: 100%;
}
