/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
:root {
  --primary-color: #3498db;
  --secondary-color: #2980b9;
  --accent-color: #e74c3c;
  --text-color: #333;
  --light-gray: #f8f9fa;
  --dark-gray: #6c757d;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

.footer-title {
  font-weight: 600;
  margin-bottom: 20px;
}

.product-card {
  border: none;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.product-card img {
  height: 200px;
  object-fit: contain;
  padding: 20px;
}

.product-title {
  font-weight: 600;
  height: 48px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-price {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 1.2rem;
}

.old-price {
  text-decoration: line-through;
  color: var(--dark-gray);
  font-size: 0.9rem;
}

.discount-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--accent-color);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}
