<div class="category-menu">
  <h5 class="category-title">Danh mục sản phẩm</h5>
  <ul>
    <li>
      <a href="#"><i class="bi bi-phone"></i> Điện thoại</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-tablet"></i> Máy tính bảng</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-headphones"></i> Tai nghe</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-battery-charging"></i> Sạc dự phòng</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-box"></i> Phụ kiện</a>
    </li>
  </ul>
</div>

<div class="category-menu">
  <h5 class="category-title">Thương hiệu</h5>
  <ul>
    <li>
      <a href="#"><i class="bi bi-check-circle"></i> Apple</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-check-circle"></i> Samsung</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-check-circle"></i> Xiaomi</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-check-circle"></i> Oppo</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-check-circle"></i> Vivo</a>
    </li>
  </ul>
</div>

<div class="category-menu">
  <h5 class="category-title">Mức giá</h5>
  <ul>
    <li>
      <a href="#"><i class="bi bi-tag"></i> Dưới 5 triệu</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-tag"></i> 5 - 10 triệu</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-tag"></i> 10 - 15 triệu</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-tag"></i> 15 - 20 triệu</a>
    </li>
    <li>
      <a href="#"><i class="bi bi-tag"></i> Trên 20 triệu</a>
    </li>
  </ul>
</div>
